.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
  padding-top: 2em;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.label,
.confirm-label {
  font-size: large;
  line-height: 1;
}

.input {
  border-radius: 5px;
  height: 30px;
  left: -16px;
  margin: 0.5em 1em;
  position: relative;
  width: 150px;
}

.log-in-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.enter-button {
  margin: auto;
  position: relative;
  top: 10px;
  width: 150px !important;
}

.signup-error {
  background-color: #d62828;
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--dark);
  color: var(--dark);
  font-size: 1.2rem;
  left: 50%;
  padding: 1em;
  position: absolute;
  top: 35%;
  text-align: center;
  transform: translateX(-50%);
  width: 70%;
}

/* 1110 and smaller */
@media only screen and (max-width: 1110px) {
  .form-wrapper {
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5em;
    width: 80%;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 1.1em;
  }

  .label,
  .confirm-label {
    margin-bottom: 1em;
  }

  .log-in-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .signup-error {
    font-size: large;
    text-align: center;
    top: 12%;
  }
}

/* 550 and smaller */
@media only screen and (max-width: 550px) {
  .title {
    font-size: 2em;
  }

  .form-wrapper {
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5em;
    width: 200px;
  }
  
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 1.1em;
  }
  
  .label,
  .confirm-label {
    margin-bottom: 1em;
  }

  .log-in-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .signup-error {
    font-size: large;
    text-align: center;
    top: 12%;
  }
}
