.form-wrapper {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: row;
}

.label,
.confirm-label {
  font-size: x-large;
}

.input {
  width: 200px;
  height: 30px;
  margin: .5em 1em;
  border-radius: 5px;
  position: relative;
  left: -13px;
}

.log-in {
  width: 150px;
  margin: auto;
  position: relative;
  top: 10px;
  font-size: 1.5rem;
  border-radius: 20px;
  background: #b24c63;
  color: white;
  padding: 0.2em 0;
  border: none;
  box-shadow: 3px 3px 5px #f4fff8;
}

.log-in:hover {
  filter: brightness(85%);
}

.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 63%;
}

/* 1150 and smaller */
@media only screen and (max-width: 1150px) {
  .form-wrapper {
  height: 250px;
  }

  .form {
  width: 400px;
  /* background: darkcyan; */
  }

  .label {
    /* color: red; */
    display: block;
    margin: auto;
  }
}
