.splash {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("../../splash-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.login-modal {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 20%;
  margin: auto;
  margin-top: 1em;
  background: #000f08;
  border-radius: 5px;
  box-shadow: 10px 10px 15px #1c3738, -2px -2px 8px #f4fff8;
}

.title {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: .5em;
  font-size: 2.5rem;
  text-shadow: 2px 2px 1px #000f08;
  /* border: 1px solid yellow; */
}

.signup-button {
  width: 150px;
  margin: auto;
  position: relative;
  top: 25px;
  font-size: 1.2rem;
  border-radius: 20px;
  background: #b24c63;
  color: #f4fff8;
  padding: 0.2em 0;
  border: none;
  box-shadow: 2px 2px 5px #f4fff8;
}

.signup-button:hover {
  color: #000f08;
  box-shadow: -3px -3px 5px #f4fff8;
  filter: brightness(85%);
}

a {
  color: #f4fff8;
  text-decoration: none;
}

/* 1150 and smaller */
/* @media only screen and (max-width: 1150px) {
  body {
    color: black;
  }
} */

/* 570 and smaller */
/* @media only screen and (max-width: 1150px) {
  body {
    color: black;
  }
} */
