.splash {
  background: url("../../splash-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.login-modal {
  background: #000f08;
  border-radius: 5px;
  box-shadow: 10px 10px 15px #1c3738, -2px -2px 8px #f4fff8;
  display: flex;
  flex-direction: row-reverse;
  height: 20%;
  margin: auto;
  margin-top: 1em;
  padding: 0 0.5em;
  width: 80%;
}

.title {
  font-size: 2.5rem;
  left: 50%;
  margin-top: 0.5em;
  position: absolute;
  text-shadow: 2px 2px 1px #000f08;
  transform: translateX(-50%);
}

.signup-button {
  background: #b24c63;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #f4fff8;
  color: #f4fff8;
  font-size: 1.2rem;
  margin: auto;
  padding: 0.2em 0;
  position: relative;
  top: 25px;
  width: 150px;
}

.signup-button:hover {
  box-shadow: -3px -3px 5px #f4fff8;
  color: #000f08;
  cursor: pointer;
  filter: brightness(85%);
}

a {
  color: #f4fff8;
  text-decoration: none;
}

/* 1110 and smaller */
@media only screen and (max-width: 1110px) {
  .login-modal {
    flex-direction: column;
    height: 60%;
    margin-top: 4em;
    width: 40%;
  }

  .signup-button {
    border: none;
    position: relative;
    top: -25px;
  }
}

/* 570 and smaller */
/* @media only screen and (max-width: 1150px) {
  body {
    color: black;
  }
} */
