.dashboard-header {
  align-items: center;
  background-color: var(--dark);
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 3px 7px var(--dark);
  color: var(--light);
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
  margin: auto;
  width: 70%;
}

h1 {
  font-size: 3em;
  margin: 0;
}

.sign-out-button {
  background: var(--midlight);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px var(--highlight);
  color: var(--dark);
  font-size: 1.2rem;
  padding: 0.2em 1em;
  width: auto;
}

.sign-out-button:hover {
  box-shadow: -3px -3px 5px var(--highlight);
  cursor: pointer;
  filter: brightness(85%);
}
