.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.greeting {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.greeting p {
  color: var(--dark);
  font-size: x-large;
  margin-bottom: 0;
  margin-top: .5em;
  margin-right: .5em;
}

.previous-game-header {
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: .5em;
  text-align: center;  
}
