body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: #1c3738;
  letter-spacing: .1em;
  color: #f4fff8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

