.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: thumbnail;
}

.thumbnail-image {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #f4fff8;
  box-shadow: 8px 8px 5px #000f08;
}

.thumbnail-text {
  font-size: 1.5em;
  margin-top: .5em;
  margin-bottom: 0;
}